/* Estilo geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(247, 232, 217);
    height: 100vh;
}

.interface {
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
}

.flex {
    height: 100%;
    display: flex;
}
h1 { 
    color: rgb(201, 64, 80);
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    background-color: rgb(217, 109, 109);
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-contato button:hover {
    transform: scale(1.05);
}

main{
    height: 100%;
}

h2.titulo {
    color: rgb(230, 155, 142);
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: rgb(201, 64, 80);

}

/* Estilo do cabeçalho */

header {
    padding: 20px 4%;
    background-color: rgb(241, 200, 172);
}

header .logo {
    width: 5vw;
    height: 5vh;
    background-color: #c94050;
    border-radius: 15px;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    color: rgb(230, 155, 142);
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}

header nav.menu-desktop a:hover {
    color: rgb(217, 109, 109);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

/* estilo do topo */

.btn-abrir {
    display: none;
}

section.principal {
    height: 30%;
}

section.principal .flex {
    align-items: center;
    justify-content: center;
}

.principal h1 {
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
}

.principal h2 {
    font-size: 20px;
    font-weight: bold;
}


section.contato {
    padding: 40px 4%;
    height: 100%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

form input {
    width: 100%;
    background-color: rgb(255, 200, 190);
    border: none;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    font-size: 14px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: rgb(217, 109, 109);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

form .btn-enviar input:hover {
    transform: scale(1.05);
}

